<a href="https://colab.research.google.com/github/allanstar-byte/IP_WEEK_3/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2020_11_ALLAN_NGOMA_PythonNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Importing the Libraries to be used**

In [246]:
# importing pandas library

import pandas as pd
# as well as the Numpy library
import numpy as np

# **2. Loading our Datasets**

In [123]:
# importing CDR_Description.xls dataset
df1 = pd.read_excel('/content/CDR_description.xlsx') 
df1

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [154]:
#importing telcom_dataset.csv
df2 = pd.read_csv('/content/Telcom_dataset.csv') 
df2.head()

  PRODUTC  VALUE DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0   04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0   05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25   05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56   05:42.0  ...     19e2e      #NAME?      #NAME?
4   Voice     14   06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [205]:
#importing telcom_dataset2.csv
df3 = pd.read_csv('/content/Telcom_dataset2.csv') 
df3.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [143]:
#importing telcom_dataset3.csv
df4 = pd.read_csv('/content/Telcom_dataset3.csv') 
df4.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [144]:
#importing cells_geo.csv
#seperating using the delimeter (;)
df5 = pd.read_csv('/content/cells_geo.csv',sep=';') 
df5.head()

   Unnamed: 0   VILLES      STATUS  ... AREA     CELL_ID   SITE_CODE
0           0   ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1   ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2   ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3  ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4  ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 12 columns]

In [145]:
#importing cells_geo_description.xls
df6 = pd.read_excel('/content/cells_geo_description.xlsx') 
df6

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

# **3. merging Datasets**

**3.1 Renaming columns**

In [215]:
#Renaming columns in Telcom_dataset.csv
#Renaming the column PRODUTC to PRODUCT
df2.rename(columns = {'PRODUTC':'PRODUCT'}, inplace = True)
df2
#Renaming the column DATETIME to TIME
df2.rename(columns = {'DATE_TIME':'TIME'}, inplace = True)
df2.head(2)

  PRODUCT  VALUE     TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41

[2 rows x 10 columns]

In [207]:
#Renaming columns in Telcom_dataset2.csv
#Renaming the column DW_A_NUMBER to DW_A_NUMBER_INT
df3.rename(columns = {'DW_A_NUMBER':'DW_A_NUMBER_INT'}, inplace = True)
df3
#Renaming the column DW_B_NUMBER to DW_B_NUMBER_INT
df3.rename(columns = {'DW_B_NUMBER':'DW_B_NUMBER_INT'}, inplace = True)
df3.head(3)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q

[3 rows x 10 columns]

In [162]:
#Renaming columns in Telcom_dataset3.csv
#Renaming the column SIET_ID to SITE_ID
df4.rename(columns = {'SIET_ID':'SITE_ID'}, inplace = True)
df4.head(3)
#Renaming the column CELLID to CELL_ID
df4.rename(columns = {'CELLID':'CELL_ID'}, inplace = True)
df4.head(3)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+

[3 rows x 10 columns]

In [161]:
#renaming the SITE_CODE to SITE_ID the cells_geo.csv dataset
df5.rename(columns = {'SITE_CODE':'SITE_ID'}, inplace = True)

#renaming the VILLES to CITY the cells_geo.csv dataset
df5.rename(columns = {'VILLES':'CITY'}, inplace = True)
df5.head(3)

   Unnamed: 0    CITY      STATUS  ... AREA     CELL_ID     SITE_ID
0           0  ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1  ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2  ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17

[3 rows x 12 columns]

**3.2 splitting date and time**

In [216]:
#splitting date and and column in Telcom_dataset2.csv
df60 = df3['DATE_TIME'].apply(lambda x: pd.Series([i for i in reversed(x.lower().split(' '))]))
df60.columns = ['TIME', 'DATE']
df60
#merging to the original dataset
df70 = df60.merge(df3, left_index=True, right_index=True)
df70
#droping DATE_TIME column
df80 = df70.drop('DATE_TIME', axis=1)
df80.head()

         TIME        DATE PRODUCT  ...  COUNTRY_B     CELL_ID     SITE_ID
0  23:02:06.0  2012-05-07     sms  ...      19e2e  +854AcBQT2  +854AcBQT2
1  23:03:44.0  2012-05-07   Voice  ...      19e2e  +854AcBQT2  +854AcBQT2
2  23:04:06.0  2012-05-07     sms  ...      19e2e  +laSrk7g6q  +laSrk7g6q
3  23:04:48.0  2012-05-07   Voice  ...      19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4  23:04:58.0  2012-05-07     sms  ...      19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 11 columns]

In [220]:
#splitting date and and column in Telcom_dataset3.csv
df90 = df4['DATE_TIME'].apply(lambda x: pd.Series([i for i in reversed(x.lower().split(' '))]))
df90.columns = ['TIME', 'DATE']
df90
#merging to the original dataset
df91 = df60.merge(df4, left_index=True, right_index=True)
df91
#droping DATE_TIME column
df100 = df91.drop('DATE_TIME', axis=1)
df100.head()

         TIME        DATE PRODUCT  ...  COUNTRY_B     CELL_ID     SITE_ID
0  23:02:06.0  2012-05-07   Voice  ...      19e2e  +38u2u/rfx  +38u2u/rfx
1  23:03:44.0  2012-05-07     sms  ...      19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2  23:04:06.0  2012-05-07   Voice  ...      19e2e  +ZaaZozy/+  +ZaaZozy/+
3  23:04:48.0  2012-05-07     sms  ...      19e2e  +cNeJzsTp3  +cNeJzsTp3
4  23:04:58.0  2012-05-07   Voice  ...      19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 11 columns]

**3.3 Merging datasets**

In [226]:
#merging telcom_dataset.csv, telcom_dataset2.csv using append since they are similar
df6 = df80.append(df100)
df6
#merging the telcom_dataset.csv, telcom_dataset2.csv appended dataset with the Cells_geo.csv dataset
df7 = df5.merge(df6, left_index=True, right_index=True)
df7.head()

   Unnamed: 0    CITY      STATUS  ... COUNTRY_B   CELL_ID_y   SITE_ID_y
0           0  ADJAME  In Service  ...     19e2e  +854AcBQT2  +854AcBQT2
0           0  ADJAME  In Service  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1           1  ADJAME  In Service  ...     19e2e  +854AcBQT2  +854AcBQT2
1           1  ADJAME  In Service  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2           2  ADJAME  In Service  ...     19e2e  +laSrk7g6q  +laSrk7g6q

[5 rows x 23 columns]

# **4. Data Understanding and Exploration**

> Indented block

In [227]:
#displaying different data types of the columns
df7.dtypes

Unnamed: 0           int64
CITY                object
STATUS              object
LOCALISATION        object
DECOUPZONE          object
ZONENAME            object
LONGITUDE          float64
LATITUDE           float64
REGION              object
AREA                object
CELL_ID_x           object
SITE_ID_x           object
TIME                object
DATE                object
PRODUCT             object
VALUE                int64
CELL_ON_SITE        object
DW_A_NUMBER_INT     object
DW_B_NUMBER_INT     object
COUNTRY_A           object
COUNTRY_B           object
CELL_ID_y           object
SITE_ID_y           object
dtype: object

In [228]:
#identifying the precence of null values in the merged dataset
df7.isna().sum()

Unnamed: 0           0
CITY                 0
STATUS             134
LOCALISATION         0
DECOUPZONE           0
ZONENAME            12
LONGITUDE            0
LATITUDE             0
REGION               0
AREA                46
CELL_ID_x            0
SITE_ID_x            0
TIME                 0
DATE                 0
PRODUCT              0
VALUE                0
CELL_ON_SITE         0
DW_A_NUMBER_INT      0
DW_B_NUMBER_INT      0
COUNTRY_A            0
COUNTRY_B            0
CELL_ID_y            0
SITE_ID_y          985
dtype: int64

In [230]:
#identifying the precence of duplicates values in the merged dataset
df7.duplicated().sum()

0

# **5. Data Preparation**

In [231]:
#dropping the null values
df8 = df7.dropna()
df8.isna().sum()

Unnamed: 0         0
CITY               0
STATUS             0
LOCALISATION       0
DECOUPZONE         0
ZONENAME           0
LONGITUDE          0
LATITUDE           0
REGION             0
AREA               0
CELL_ID_x          0
SITE_ID_x          0
TIME               0
DATE               0
PRODUCT            0
VALUE              0
CELL_ON_SITE       0
DW_A_NUMBER_INT    0
DW_B_NUMBER_INT    0
COUNTRY_A          0
COUNTRY_B          0
CELL_ID_y          0
SITE_ID_y          0
dtype: int64

In [232]:
#merged datased shape after dropping duplicated and null values
df8.shape

(6793, 23)

# **6. Analysis**

i will analyse the merged and cleaned dataset by answering different questions as follows:

In [238]:
df8.head()

    Unnamed: 0   CITY      STATUS  ... COUNTRY_B   CELL_ID_y   SITE_ID_y
23          23  ABOBO  In Service  ...     19e2e  +854AcBQT2  +854AcBQT2
23          23  ABOBO  In Service  ...     19e2e  2q0YsSCxbH  2q0YsSCxbH
24          24  ABOBO  In Service  ...     19e2e  +e+xcimwre  +e+xcimwre
24          24  ABOBO  In Service  ...     19e2e  1MTLUFpdzd  1MTLUFpdzd
25          25  ABOBO  In Service  ...     19e2e  +pZNtCvhmT  +pZNtCvhmT

[5 rows x 23 columns]

In [289]:
#1. Which ones were the most used city for the three days?
df9 = df8.sort_values(by=['CITY', 'DATE'], ascending=False)
df9.head(3)

      Unnamed: 0      CITY      STATUS  ... COUNTRY_B   CELL_ID_y   SITE_ID_y
3382        3382  ZUENOULA  In Service  ...     19e2e  a7dff74777  b47a998a3e
3383        3383  ZUENOULA  In Service  ...     19e2e  d1f514485d  dac8dcaeb9
3384        3384  ZUENOULA  In Service  ...     19e2e  ec6c9c5e70  e2b604cffa

[3 rows x 23 columns]

In [263]:
#2. Which cities were the most used during business and home hours?
df8.groupby('CITY')['TIME'].max()

CITY
ABENGOUROU       23:15:47.0
ABOBO            23:53:24.0
ABOISSO          23:26:47.0
ABOISSO COMOE    23:25:53.0
ABONGOUA         23:26:55.0
                    ...
ZATTA            00:01:24.0
ZIKISSO          00:01:24.0
ZON-HOUNIEN      00:01:24.0
ZOUKOUGBEU       00:01:24.0
ZUENOULA         00:01:25.0
Name: TIME, Length: 494, dtype: object

In [292]:
#3. Most used city for the three days?
df10 = df8.sort_values(by=['CITY', 'DATE'], ascending=False)
df10.head(1)

      Unnamed: 0      CITY      STATUS  ... COUNTRY_B   CELL_ID_y   SITE_ID_y
3382        3382  ZUENOULA  In Service  ...     19e2e  a7dff74777  b47a998a3e

[1 rows x 23 columns]

In [269]:
#4. The most used zone
df8['ZONENAME'].max()

'ZONE E - SUD-OUEST'

In [270]:
#5. The most used Region
df8['REGION'].max()

'ZANZAN'

In [271]:
#6. The most used product
df8['PRODUCT'].max()

'sms'

In [296]:
#7. finding the most used product in each region
df8.groupby(['PRODUCT', 'REGION']).max()

                           Unnamed: 0              CITY  ...   CELL_ID_y   SITE_ID_y
PRODUCT REGION                                           ...
Voice   18 MONTAGNES             3962       ZON-HOUNIEN  ...  fcfef4f0bb  fe32f3eba7
        AGNEBY                   3708  YAKASSE-ATTOBROU  ...  e44ace77b5  f10d5e2823
        BAFING                   3916             ZAALA  ...  fb2b3f1b76  eb87ea1f8e
        BAS SASSANDRA            3953          YOUWASSO  ...  fece2642e5  ffc9f56819
        DENGUELE                 3478             TIEME  ...  f76d889a00  f9eadcdba2
        FROMAGER                 3919             ZADDI  ...  eba24fcecf  fe3ebd031a
        HAUT SASSANDRA           3963        ZOUKOUGBEU  ...  fc0f9a8be7  fb35d6b5d3
        LACS                     3934          ZAMBAKRO  ...  f4aceab2e2  ffc9f56819
        LAGUNE                   3959          YOPOUGON  ...  ffb86d66d2  ffa6bdc032
        MARAHOUE                 3973          ZUENOULA  ...  f94a8ed5d0  faa92c87d9
        MOYEN CAVALLY            3924             ZAGNE  ...  f5a1b8aae0  fc6419d378
        MOYEN COMOE              3935           ZARANOU  ...  f9639af5ac  f787526209
        NZI COMOE                3476        TIEMELEKRO  ...  fe85d8d983  ffa6bdc032
        SAVANE                   3512      TORO-KINKENE  ...  f94a8ed5d0  feb5ccbbd7
        SUD BANDAMA              3947           ZIKISSO  ...  f6c994077c  fe31a370fe
        SUD COMOE                3767              YAOU  ...  fdda1352af  ffa6bdc032
        VALLEE DU BANDAMA        3764       YAOSEDOUGOU  ...  ff7c503baf  fd14c3c790
        WORODOUGOU               3702           WOROFLA  ...  fcd990c767  fe91ac057a
        ZANZAN                   3910          YOROBODI  ...  f76d45d691  fd14c3c790
data    AGNEBY                    607         ATTROBROU  ...  T16ozsms3u  T16ozsms3u
        BAS SASSANDRA            2799              PARA  ...  HUZpw2mASJ  HUZpw2mASJ
        DENGUELE                 2483          MINIGNAN  ...  47yB6si0R9  47yB6si0R9
        FROMAGER                  648           BAHOMPA  ...  6i0cAvBgMU  6i0cAvBgMU
        LACS                     3758      YAMOUSSOUKRO  ...  RYMkmsl8gx  RYMkmsl8gx
        LAGUNE                   3822          YOPOUGON  ...  Qtoul0Iv9+  Qtoul0Iv9+
        MOYEN COMOE               757          BIANOUAN  ...  Ja/ydSnxQ1  Ja/ydSnxQ1
        NZI COMOE                 743         BENGASSOU  ...  L0MhME6yWn  L0MhME6yWn
        SUD COMOE                 618             AYAME  ...  PrquoYd2rX  PrquoYd2rX
        VALLEE DU BANDAMA         738            BOUAKE  ...  Py3E6upFZA  Py3E6upFZA
        WORODOUGOU               1332         DIARABANA  ...  EvNjrNGGs4  EvNjrNGGs4
        ZANZAN                   3556           TRANSUA  ...  OeukqlEcwz  OeukqlEcwz
sms     18 MONTAGNES             3962       ZON-HOUNIEN  ...  ff97ccaf78  fd14c3c790
        AGNEBY                   3714         YAKASSEME  ...  fa187ba959  fe91ac057a
        BAFING                   3916             ZAALA  ...  ffb86d66d2  fc6419d378
        BAS SASSANDRA            3953          YOUWASSO  ...  fdfe4e8c70  ff1b78ec81
        DENGUELE                 3485            TIENKO  ...  fc94bafc0d  faa92c87d9
        FROMAGER                 3919             ZADDI  ...  fed48aeb7f  feb5ccbbd7
        HAUT SASSANDRA           3965        ZOUKOUGBEU  ...  fb5ac7bca9  feb5ccbbd7
        LACS                     3943             ZATTA  ...  fbb5df5f5b  ffa6bdc032
        LAGUNE                   3967          YOPOUGON  ...  ffb86d66d2  ffa6bdc032
        MARAHOUE                 3973          ZUENOULA  ...  fcda575d50  fc7602b020
        MOYEN CAVALLY            3925             ZAGNE  ...  fd8b1a4f29  f6ae0e2972
        MOYEN COMOE              3937           ZARANOU  ...  f053be2418  fe32f3eba7
        NZI COMOE                3482         TIENDEKRO  ...  fcda575d50  f24a0f63fa
        SAVANE                   3552            TOUVRE  ...  fdc1872ff6  fe91ac057a
        SUD BANDAMA              3947           ZIKISSO  ...  fdfe4e8c70  fe91ac057a
        SUD COMOE                3464           TIAPOUM  ...  fdfe4e8c70  fe91ac057a
        VALLEE DU BANDAMA        3683           WENDENE  ...  fd4cd26aee  ff1b78ec81
        WORODOUGOU               3473             TIEMA  ...  fd4cd26aee  fe32f3eba7
        ZANZAN                   3910          YOROBODI  ...  f8f987f764  ffa6bdc032

[50 rows x 21 columns]

In [298]:
#8. describing the product column
df8['PRODUCT'].describe()

count     6793
unique       3
top        sms
freq      4026
Name: PRODUCT, dtype: object